<% if items.present? %>
	<table>
		<tr>
			<th>Name</th>
			<th>Modifiers</th>
			<th>Price</th>
		</tr>
		<% items.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.modifiers.join(',') %></td>
				<td><%= item.price %></td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div style="background-color: white; padding: 10px" class="col-md-offset-4 col-md-4">
		<h3 style="color: red;">Oppps!</h3>
		<p style="color: black; font-weight: bold"><%= @message %><p>
	</div>
<% end %>

<script>
	$(".loader").remove()
</script>