<div>
  <div class='col-md-12'>
    <header id="landing_header_page" class='col-md-offset-4 col-md-4'>
      <%= form_tag scrape_scrapers_path, :remote => true do %>
        <div class="input-group">
          <%= text_field_tag :url, "", class: 'form-control', id: "scrape_input"%>
          <span class="input-group-btn">
            <%= submit_tag 'Scrape', class:'btn btn-primary', id:'submit'%>
          </span>
        </div>
        <div id="error" style="background-color: white; text-align: center"></div>
      <% end %>
    </header>
  </div>
  <div class="col-md-12" style="margin-top: 100px">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div id="items_grid" style="text-align: center">
        </div>
      </div>
    </div>
  </div>
</div>
