table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	background-color: white
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#landing_page{
	background-image: url('https://img.trycaviar.com/_vogpCsoKpWQqOGAkL4DQidlgwo=/1680x0/https://s3.amazonaws.com/trycaviar.com/images/home/landing7.png');
	background-repeat: no-repeat;
	width: 100%;
	height: auto
}

#landing_header_page{
	margin-top: 151px;
}

h3, p { display:inline }

.loader {
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #3498db; /* Blue */
	border-radius: 25%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}